
body{
  /* background-image: url(https://i.imgur.com/CBUjP5p.jpg); */
  background-image: url(https://i.imgur.com/0TAEJV1.jpg);
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 26px;
}
.App {
  text-align: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul{
  list-style: none;
}
/* #packChart{
  transform: scale(0.75);
} */
.reset-button{
  width: 30px;
  height: 30px;
}
.pack{
  display: grid;
  margin: 0 auto; 
  grid-template-columns: 38vw 62vw;
  grid-template-rows: auto;

}
.chart-container{
  position: fixed;
  width: 33vw;
  background-color: rgba(0,0,0,0.3);
  color: white;
  margin-left: 35px;
  padding: 15px;
  border-radius: 10px;;
}
.chart-container p{
  background-color: rgba(0,0,0,0.6);
  padding: 8px;
  width:20vw;
}
.catagories-container{
  grid-column-end: 4;
  grid-column-start: 2;
  margin-right:35px;
}
.catagory-container{
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-size: 32px;
  text-shadow: black 2px 2px;
  margin-bottom: 35px;
  padding: 15px;
  border-radius: 10px;

}
button{
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  text-shadow: black 2px 2px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  /* padding: 3px; */
  position: relative;
  /* bottom: 12px; */
  
}
.catagory-container form{
  padding: 2px;
  /* font-size: 16px; */
}
.line-item form{
  width: 100%;
}
.catagory-container p{
  background-color: rgba(0,0,0,0.6);
  padding: 5px;
  width: 30%;
}
input{
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 10px;
  font-size: 20px;
}
.weight{
  width:30px;
}

input:focus{
  background-color: white;
  color: black;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
