
body{
  /* background-image: url(https://i.imgur.com/CBUjP5p.jpg); */
  background-image: url(https://i.imgur.com/0TAEJV1.jpg);
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  text-align: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.catagory-container{
  border: 1px solid black;
}
ul{
  list-style: none;
}
/* #packChart{
  transform: scale(0.75);
} */
.reset-button{
  width: 30px;
  height: 30px;
}
.pack{
  display: grid;
  margin: 0 auto; 
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
}
.chart-container{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(0,0,0,0.3);
  color: white;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;;
}
.chart-container p{
  background-color: rgba(0,0,0,0.6);
  padding: 8px;
  width:20vw;
}
.catagory-container{
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;;

}
.catagory-container form{
  padding: 7px;
}
input{
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 4px;
}
input:focus{
  background-color: white;
  color: black;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
