@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; */
body{
  /* background-image: url(https://i.imgur.com/CBUjP5p.jpg); */
  background-image: url(https://i.imgur.com/0TAEJV1.jpg);
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}
h1, h2{
  font-family: 'Lato', sans-serif;
}
input{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul{
  list-style: none;
}
.reset-button{
  width: 30px;
  height: 30px;
}
.header-bar{
  position: fixed;
  background-color: #D6E3F8;
  /* background-color: #6BA292; */
  box-shadow: rgba(0,0,0,0.6) 3px 3px 5px;
  opacity: 0.9;
  width: 100%;
  padding: 15px;
  margin-bottom: 50px;
  z-index: 100;
  height: 7vh;
  display: flex;
  flex-direction: row;
}
.header-bar h1{
  position:relative;
  bottom: 45px;
  left: 400px;
  color: #FE5E41;
  text-shadow: rgba(0,0,0,0.6) 2px 2px 1px;
}
.pack{
  display: grid;
  margin: 0 auto; 
  position: relative;
  top: 100px;
  grid-template-columns: 38vw 62vw;
  grid-template-rows: auto;

}
.chart-container{
  position: fixed;
  width: 33vw;
  height: 82vh;
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin-left: 35px;
  padding: 15px;
  border-radius: 10px;;
}
.chart-container p{
  background-color: rgba(0,0,0,0.75);
  position: relative;
  bottom: 5%;
  left: 20%;
  padding: 8px;
  width:20vw;
}
.reset-button{
  background-color: whitesmoke;
  position: relative;
  bottom: 30%;
  left: 40%;
}
.catagories-container{
  grid-column-end: 4;
  grid-column-start: 2;
  margin-right:35px;
}
.catagory-container{
  /* background-color: rgba(107, 162, 146, 0.7);
   */
  background-color: rgba(0,0,0,0.65);
  color: white;
  font-size: 32px;
  text-shadow: black 2px 2px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 10px;

}
button{
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  text-shadow: black 2px 2px;
  width: 25px;
  height: 25px;
  font-size: 12.5px;
  border-radius: 50%;
  position: relative;
  left: 5px;
  bottom: 6px;
}
.new-item{
  background-color: #7bbaa8;
  border-radius: 50%;
  position: relative;
  left: -300px;
  /* right: 308px; */
}
.catagory-container form{
  padding: 2px;
}
.line-item form{
  width: 100%;
}
.catagory-container p{
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  width: 30%;
  position: relative;
  left: 32.5%;
}
.catagory-name{
  position: relative;
  right: 17.5%;
}
.catagory-name input{
  padding: 15px;
  font-size: 22px; 
}
input, select{
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  font-size: 20px;
  margin:2px;
}
.weight{
  width:40px;
}
.new-catagory{
  position: relative;
  left: 45vw;
  top: 12vh;
  /* bottom: 13px; */
  width: 32%;
  padding: 15px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
}
.new-catagory form{
  position: relative;
  left: 3%;
}
.deletePack{
  position: relative;
  float:right;
  right: 15px;
  top: 45px;
  width: 15%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #FE5E41;
  color: #FE5E41;
  background-color: rgba(0,0,0,0.7) 
}
.deletePack button{
  position: relative;
  top: 1px;
}
input:focus{
  background-color: white;
  color: black;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ///////////media queries */
@media only screen and (max-width: 475px) {
  body{
    overflow-x: hidden;
  }
  .header-bar{
    width: 100%;
    height: 12vh;
    flex-direction: column;
    text-align: left;
  }
  .header-bar h1{
    display: none;
  }
  .pack{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chart-container{
    position: relative;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 7vh;
    top: 40px;
  }
  .chart-container p{
    width: 80%;
    left: 9%;
  }
  .catagories-container{
    display: flex;
    flex-direction: column;
    /* align-items: center ; */
  }
  .catagory-container{
    position: relative;
    left: 5%;
    font-size: 18px;
  }
  .catagory-name{
    right: 0%;
  }
  .line-item{
    width: 100%;
    border: 2px solid white;
    margin-bottom:10px;
  }
  .line-item input{
    font-size: 18px;
    width:30%;
    margin: 5px;
  }
  .new-catagory{
    left: 0%;
  }
  .deletePack{
    width: 20%;
    right: 6%;
  }
  button{
    left: 25px;
  }
  .deletePack button{
    left: 0px;
    }
}
