@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  background: linear-gradient(#D6E3F8, #6BA292);
  background-attachment: fixed;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  input{
    font-family: 'Roboto', sans-serif;
  }
  ul{
    list-style: none;
  }
  .header-bar{
    position: fixed;
    // background-color: #D6E3F8;
    background-color: #FE5E41;
    box-shadow: rgba(0,0,0,0.6) 3px 3px 5px;
    opacity: 0.9;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    z-index: 100;
    height: 7vh;
    display: flex;
    flex-direction: row;
    
    h1{
    position:relative;
    font-family: 'Pacifico', cursive;
    top: -12vh;
    left: 15%;
    color: #FFF07C;
    font-size: 4rem ;    
    text-shadow: rgba(0,0,0,0.6) 2px 2px 1px;
  }
  }
  .pack{
    display: grid;
    margin: 0 auto; 
    position: relative;
    top: 110px;
    grid-template-columns: 38vw 62vw;
    grid-template-rows: auto;

  } 
  .chart-container{
    position: fixed;
    width: 33vw;
    height: 82vh;
    background-color: rgba(0,0,0,0.7);
  /* background-color: rgba(255,255,255,0.8); */
    color: white;
    margin-left: 1.5%;
    padding: 15px;
    border-radius: 10px;;
  }
  .chart-container h2{
    font-size: 32px;
  }
  .chart-container p{
    background-color: rgba(0,0,0,0.75);
    font-size: 27px;
    position: relative;
    bottom: 4%;
    left: 20%;
    padding: 8px;
    width:20vw;
  }
  .reset-button{
    background-color: whitesmoke;
    position: relative;
    bottom: 30%;
    left: 40%;
  }
  .catagories-container{
    grid-column-end: 4;
    grid-column-start: 2;
    margin-right:35px;
  }
  .catagory-container{
    background-color: rgba(0,0,0,0.65);
    color: white;
    font-size: 32px;
    text-shadow: black 2px 2px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;

  }
  .delete-button{
    background-color: #FE5E41;
    color: black;// colorchange
    width: 40px;
    height: 40px;
    font-size: 26px;
  }
  .edit-button{
    background-color: black;
    height:40px;
    width: 40px;
  }
  .save-icon{
    position: relative;
    right:7px;
    height:40px;
    width:40px;
  }
  .new-item{
    background-color: #7bbaa8;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
    position: relative;

  }
  .line-item input{
    width: 270px;
  }
  .line-item .weight{
    width:40px;
  }
  .line-item button{
    position: relative;
    top: 12px;
  }
  .line-item .delete-button{
    top: -2px;
    left: 1%;
  }
  .catagory-container p{
    background-color: rgba(0,0,0,0.8);
    padding: 5px;
    width: 30%;
    position: relative;
    left: 32.5%;
  }
  .catagory-name{
    position: relative;
  }
  .catagory-name input{
    padding: 20px;
    font-size: 26px; 
  }
  input, select{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10px;
    font-size: 20px;
    margin:7px;
  }

  .new-catagory{
    position: relative;
    left: 45vw;
    top: 13vh;
    width: 32%;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
  }
  .new-catagory form{
    position: relative;
    left: 3%;
  }
  .deletePack{
    position: relative;
    float:right;
    right: 15px;
    top: 45px;
    width: 15%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #FE5E41;
    color: #FE5E41;
    background-color: rgba(0,0,0,0.7) 
  }
  .deletePack button{
    position: relative;
    top: 1px;
  }
  input:focus{
    background-color: white;
    color: black;
  }

}



/* ///////////media queries */
@media only screen and (max-width: 475px) {
  body{
    overflow-x: hidden;
  }
  .header-bar{
    width: 100%;
    height: 12vh;
    flex-direction: column;
    text-align: left;
  }
  .header-bar h1{
    display: none;
  }
  .pack{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chart-container{
    position: relative;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 7vh;
    top: 40px;
  }
  .chart-container p{
    width: 80%;
    left: 9%;
  }
  .catagories-container{
    display: flex;
    flex-direction: column;
    /* align-items: center ; */
  }
  .catagory-container{
    position: relative;
    left: 5%;
    font-size: 18px;
  }
  .catagory-name{
    right: 0%;
  }
  .new-catagory{
    left: 0%;
  }
  .deletePack{
    width: 20%;
    right: 6%;
  }
  button{
    left: 25px;
  }
  .deletePack button{
    left: 0px;
    }
}
